
@font-face {
font-family: 'fontfe0dc36743d17d7a1166c6e21f6536f1';
        src:    url('https://nomail.com.ua/files/eot/fe0dc36743d17d7a1166c6e21f6536f1.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/fe0dc36743d17d7a1166c6e21f6536f1.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/fe0dc36743d17d7a1166c6e21f6536f1.woff2') format('woff2');
}

@font-face { font-family: 'Wisdom-Script';  src: local('Wisdom-Script'), url('https://nomail.com.ua/files/woff/fe0dc36743d17d7a1166c6e21f6536f1.woff') format('woff'); }

body {
	font-family: Poppins, Arial, sans-serif;
	font-size: 15px;
	color: #616161;
	line-height: 1;
}


.block-header {
	color: #313131;
	font-family: "Libre Baskerville";
	font-size: 50px ;
	font-weight: 700;
	line-height: 55px;
}
 
.block-number {
	opacity: 0.3;
	color: #e0e0e0;
	font-family: Poppins;
	font-size: 274px;
	line-height: 204px;
  }

/* buttons */

.btn {
	display: inline-block;
	height: 50px;
	padding: 19px 41px;
	border-radius: 25px;
	background-color: #fc5f45;
	color: #ffffff;
	font-family: "Poppins - Semi Bold",  Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}

/* header */

header {
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

.logo a {
	display: flex;
	font-family: "Wisdom - Script";
	font-style: italic;
	font-size: 35px;
	font-weight: 400;
	color: #000;
	text-decoration: none;
}

.logo span:first-letter {
	color: #fc5f45;
}

.menu {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.menu__item {
	margin-left: 20px;
}

.menu__link {
	color: #272727;
	font-size: 14px;
	font-weight: 500;
	line-height: 27px;
 }

/* heading */

.heading {
	display: flex;
	padding-top: 10%;
	text-align: center;
	background-color: rgba(38, 39, 50, 0.85);
	height: 100vh;
}

.heading-text {
	color: #ffffff;
	font-family: "Libre Baskerville";
	font-size: 60px;
	font-weight: 400;
	line-height: 85px;
	margin-bottom: 49px;
}

.heading-features {
	display: flex;
	justify-content: space-between;
}

.heading-features__icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading-features__icon span {
	font-size: 40px;
	margin-top: 83px;
	margin-bottom: 38px;
}

.heading-features__item h5 {
	color: #feb960;
	font-size: 18px;
	font-weight: 500;

	text-transform: uppercase;
	margin-bottom: 175px;
}

.heading-features__item:nth-child(1) h5{
	color: #38c695;
}

.heading-features__item:nth-child(2) h5{
	color: #b27cf5;
}

/* about */
 
.about-wrap {
	display: flex;
 	padding: 150px 0;
  	align-items: center;
    position: relative;
}

.about-left {
	display: flex;
	width: 555px;
	height: 700px;
 	border: 10px solid rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to top, rgba(252, 95, 69, 0.29) 0%, rgba(0, 0, 0, 0) 100%);
}

.about-right {
	display: flex;
	position: relative;
	right: 5%;
	width: 652px;
	height: 550px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	z-index: 1;
}

 
.about-right-content:after {
	position: absolute;
	display: block;
	content: '';
	width: 163px;
	height: 3px;
	border-color: green;
	bottom: 100px;
}
 
.about-right-content > h2 { 	 
	padding-top: 94px;
	padding-left: 81px;
	position: relative;
}

.about-right-content > h2:after {
	position: absolute;
	content: '';
	display: inline-block;
	width:100%;
	height:3px;
	top: 547px;
	left: 0;
    background:linear-gradient(to right, #fc5f45 0%, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%);
}

.about-right-content__number {
	position: absolute;
	left: -8px; 
}

.about-right__text {
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
 	font-family: Poppins;
 	padding: 48px 83px 106px 83px; 
 	text-align: justify;
}

/* services */

.services {
 	background-color: #f7f7f7;
}

.services-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	position: relative;
	margin-top: 6px;
}

.services-header__title {
	position: absolute;
	top: 140px;
	margin-left: 10px;
}

.services-header__text {
	display: flex;
	margin-top: 15px; 
	margin-bottom: 83px;
	font-size: 18px;
	font-weight: 400; 
	line-height: 18px;
}

.services-content {
	display: flex;
	justify-content: space-between;	
}

.services-content__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 66px;
	width: 263px;
 	margin-bottom: 150px;
 	background: #fff;
 	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.services-content__item:nth-child(1) {
	border-bottom: 3px solid #fc5f45;
}

.services-content__item:nth-child(2) {
	border-bottom: 3px solid #38c695;
}

.services-content__item:nth-child(3) {
	border-bottom: 3px solid #b27cf5;
}

.services-content__item:nth-child(4) {
	border-bottom: 3px solid #feb960;
}

.services-content__item__icon {
	font-size: 40px;
	margin-bottom: 30px;
}

.services-content__item__title {
	font-size: 20px;
	font-weight: 500;
	
}

.services-content__item__def {
	text-align: center;
	font-size: 15px;
	line-height: 1.7em;
	padding: 40px 33px 60px 33px;
}

/*  portfolio  */

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 9px;
	margin-bottom: 127px;
}

.portfolio-list__item { 
	position: relative; 
	width: 360px;
	height: 288px;
	margin-right: 21px;
	margin-bottom: 23px;
}

.portfolio-list__item:nth-child(3n+3) {
	margin-right: 0;
}

.portfolio-list__item:hover:after  {
 	display: inline-block;
	content: '';	
	position: absolute;
	top: 80px;
	left: 150px;
	width: 60px;
	height: 60px;
	border: 2px solid #ffffff;
 	border-radius: 50%;
	z-index: 10;
 }

 .portfolio-list__link {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.portfolio-list__item__review {
	position: relative;
}

.portfolio-list__item:hover .portfolio-list__item__review:after {
	position: absolute;
	content: '';
	display: inline-block;
	top: 110px;
	left: 160px;
	width: 40px;
	height: 2px;
    background-color: #fff;
}

.portfolio-list__item:hover .portfolio-list__item__review:before {
	position: absolute;
	content: '';
	display: inline-block;
	top: 91px;
	left: 179px;
	width: 2px;
	height: 40px;
    background-color: #fff;
}

.portfolio-list__item__footer {
	position: absolute;
	display: none;
	bottom: 0;
	background-color: #fff;
	width: 360px;
	height: 66px;
} 

.portfolio-list__item__footer h5 {
	font-size: 20px;
	font-weight: 500;
}

.portfolio-list__item:hover .portfolio-list__item__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio-list__item:hover .portfolio-list__item__footer h5:after {
	position: absolute;
	display: inline-block;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
    background: linear-gradient(to right, #fc5f45 0%, #fc5f45 25%, #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, #feb960 75%, #feb960 100%);
}

